 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';



#menu {
	position: fixed;
	z-index: 1;
	width: 100%;
	li{
		list-style-type:none; 
		float: right;	
		padding-right: 20px;
		font-size: 22px;
		// background-color: hsla(120,2%,90%,0.2);
		padding:10px;
		border-radius: 10px;
		text-align: center;
		margin-left: 8px;
		margin-right: 10px;
	}
	img{
		width: 250px;
		float: left;

	}
	a {
		text-decoration: none;
		color: white;
		padding-left: 5px;
		

	}
}


#section1 {
	background-color: #000000;
	margin: 0 auto;
	text-align: center;


	// bottom: -500px;

 img {
  width: 80%;
 // opacity:1.5;
  height: auto;
padding: 20px;
left: 0;
right: 0;
margin: 0 auto;

// text-align: center;
 }

}

#section2 {
	
	h2 {
		color: white;
		text-align: center;
		font-size: 2em;
		text-shadow: 1px 2px hsla(360,100%,50%,1);

	}

	.slide {
		width: 100%;
		.leftslide {
			width: 40%;
			display: inline-block;
			img{
				width: 50%;
				margin-left: 40%;
				margin-top: 20px;

			}
		}
		.rightslide {
			width: 40%;
			float: right;
			color: white;
			margin-right:13%;
			padding-top: 40px;
			font-size: 19px;

			b{
				color: hsla(360,100%,50%,1);
				text-shadow: 1px 1px hsla(0,0%,100%,0.7);
			}
		}
	}
}

#slide1 {
	background-image: url('/images/beer_foot.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5)

}
#slide2 {
	background-image: url('/images/footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#slide3 {
	background-image: url('/images/footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#slide4 {
	background-image: url('/images/footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


